@font-face {
    font-family: 'Inter-Regular';
    src: url('/src/assets/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('/src/assets/fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('/src/assets/fonts/Inter-Bold.ttf') format('truetype');
}